
.vs/DemoContainerApp/CopilotIndices/0.2.1657.32929/CodeChunks.db-shm
.vs/DemoContainerApp/CopilotIndices/0.2.1657.32929/CodeChunks.db-wal
.vs/DemoContainerApp/CopilotIndices/0.2.1657.32929/SemanticSymbols.db-shm
.vs/DemoContainerApp/FileContentIndex/49a46769-250f-406c-b00b-8ad375443705.vsidx
.vs/DemoContainerApp/FileContentIndex/cc5f07e8-eaf4-4589-a44d-f837df926967.vsidx
obj/Container/AbsoluteOutputAssemblyPath.cache
obj/Container/ContainerDevelopmentMode.cache
obj/Container/ContainerId.cache
obj/Container/ContainerName.cache
obj/Container/ContainerRunContext.cache
obj/Container/ImageBuildContext.cache
obj/Container/ImageId.cache
obj/Container/LaunchedImageId.cache
obj/Debug/net8.0/DemoContainerApp.AssemblyInfo.cs
obj/Debug/net8.0/DemoContainerApp.AssemblyInfoInputs.cache
.vs/DemoContainerApp/CopilotIndices/0.2.1657.32929/SemanticSymbols.db-shm
*.cache
/obj
/bin
/.vs
/obj
