<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/4f0fd422-0201-4029-9c73-5f1d57aeed13/resourcegroups/MSDemo-Dev/providers/Microsoft.ContainerRegistry/registries/demoacrcd</ResourceId>
    <ResourceName>demoacrcd</ResourceName>
    <ResourceGroup>MSDemo-Dev</ResourceGroup>
    <Subscription>AuleBV-CloudServices</Subscription>
    <RegistryUrl>https://demoacrcd.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>26e14fcf-5502-43fe-964d-eb8be0cf296c</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>